@charset "utf-8";
/* CSS Document */

/* Toggle Tabs */

.toggle_tabs{
	padding: 20px 0px;
}
.toggle_tabs .tab-content{
	background: #fff;
	overflow: hidden;
	padding: 20px 0px;
}
.toggle_tabs .nav-tabs > li.active > a,.toggle_tabs .nav-tabs > li.active > a:hover,.toggle_tabs .nav-tabs > li.active > a:focus{
	border: 0px;
	border-radius: 0px;
	border-top: 4px solid #fc6900;
        color: #337ab7;
}
.toggle_tabs .nav-tabs > li > a {    
    font-size: 18px;
    font-weight: 600;
	padding: 10px 24px;
	border-top: 4px solid transparent;
	color: #337ab7;
}
.toggle_tabs .nav-tabs{
	border-bottom: 0px;
}
.toggle_tabs .nav-tabs > li > a:hover{
    color:#fff;
}


/* inner Tabs With in the Toggle Tabs */
.inner_toggle_tabs .nav-tabs {
    border-bottom: 1px solid #ddd;
}
.inner_toggle_tabs .nav-tabs > li > a {
	border-radius: 0px;
	background: #2daab3;
    color: #fff;
	font-weight: 600;
	font-size: 12px;
	border-top:0px;
}

.inner_toggle_tabs .nav-tabs > li.active > a, .inner_toggle_tabs .nav-tabs > li.active > a:hover, .inner_toggle_tabs .nav-tabs > li.active > a:focus{
	border: 1px solid #dbdbdb;
	border-bottom-color: transparent;
	background-color: #fff;
	color: #535452;
}
.inner_toggle_tabs .tab-content{
	background: #fff;
        border: 1px solid #dbdbdb;
	border-top-color:transparent;
}


/* Vertical Nav Tabs */

.vert_nav_tabs .nav-tabs {
    /* background: #f0f7fa; */
    background: #056c89;
   /* border-left: 3px solid #dbb9b9;*/
}
.vert_nav_tabs .nav-tabs > li{
	float: none;
	display: block;
}
.vert_nav_tabs .nav-tabs > li > a {
	border-radius: 0px;
	background: none;
	color: #fff;
	font-weight: 600;
	font-size: 13px;
        line-height: 38px;
	border:0px;
	margin-right: 0px;
        padding: 0px;
        border-left: 4px solid transparent;
	
}
.vert_nav_tabs .nav-tabs > li > a:hover{
	background: #0184a9;
	color: #fff;
	border:0px;
        border-left: 4px solid #fc6900;
        
}

.vert_nav_tabs .nav-tabs > li.active > a, .vert_nav_tabs .nav-tabs > li.active > a:hover, .vert_nav_tabs .nav-tabs > li.active > a:focus{
	border-top:0px;
	background: #0184a9;
	color: #fff;
        border-left: 4px solid #fc6900;
        
}
.vert_nav_tabs .fa{
	width: 40px;
        font-size: 18px;
        padding: 10px;
	margin-right: 8px;
}

