/* CSS Document */
/*==> media screens <==*/
/*///////////////////////////////////////////////////////////// 1680px ///////////////////////////////////////////////////*/
@media screen and (min-width: 1680px) {
}
/*///////////////////////////////////////////////////////////// 1366px ///////////////////////////////////////////////////*/
@media screen and (min-width: 1366px) {
}
/*///////////////////////////////////////////////////////////// 1280px ///////////////////////////////////////////////////*/
@media screen and (max-width: 1280px) {
}
/*///////////////////////////////////////////////////////////// 1024px ///////////////////////////////////////////////////*/
@media screen and (max-width: 1024px) {
}
/*///////////////////////////////////////////////////////////// 768px ///////////////////////////////////////////////////*/
@media screen and (max-width: 768px) {
}
/*///////////////////////////////////////////////////////////// 736px ///////////////////////////////////////////////////*/
@media screen and (max-width: 736px) {
}
/*///////////////////////////////////////////////////////////// 690px ///////////////////////////////////////////////////*/
@media screen and (max-width: 690px) {
	.academic-year{
		display:none;
	}
	.navbar-right{
		float:right;
	}
	.nav>li.header_logs{
		display:none;
	}
	#page_links{
		display:none;
	}
}
/*///////////////////////////////////////////////////////////// 640px ///////////////////////////////////////////////////*/
@media screen and (max-width: 640px) {
}
/*///////////////////////////////////////////////////////////// 480px ///////////////////////////////////////////////////*/
@media screen and (max-width: 480px) {
}
/*///////////////////////////////////////////////////////////// 360px ///////////////////////////////////////////////////*/
@media screen and (max-width: 360px) {
}
/*///////////////////////////////////////////////////////////// 320px ///////////////////////////////////////////////////*/
@media screen and (max-width: 320px) {
}